body {
  text-align: center;
  font-family: sans-serif;
  background: #f0f0f0;
}

.piano {
  display: flex;
  position: relative;
  margin: 50px auto;
  width: 700px;
  height: 200px;
}

.key {
  border: 1px solid #333;
  cursor: pointer;
}

.white {
  background: white;
  width: 50px;
  height: 200px;
  z-index: 1;
}

.black {
  background: black;
  width: 30px;
  height: 120px;
  #position: absolute;
  margin-left: -15px;
  z-index: 2;
}
